@import "tailwindcss";

:root {
  --background: #FFFFE6;
  --foreground: #000000;
  /* Colores corporativos */
  --color-primary: #8459F6;
  --color-secondary: #EA6F48;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
